<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #fff5f0">
  <style>
    #app > .row:nth-child(even) {
      background-color: #f5f5f5;
    }
  </style>
  <div class="container" id="app" style="background-color: white; border-left: solid 1px #000; border-right: solid 1px #000">
    <div class="row my-2 border-top border-bottom py-2" v-for="image in images">
      <div class="col col-md-4"><img class="img-fluid" :src="image[0]"></div>
      <div class="col col-md-4"><img class="img-fluid" :src="image[1]"></div>
      <div class="col col-md-4 border-left"><img class="img-fluid" v-if="2 in image" :src="image[2]"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="module">
  import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js';
  const app = new Vue({
    el: "#app",
    data: {
      images: [
        ["nakamura.jpg", "hydrangea.jpg"],
        ["sekiya.jpg", "ananas.jpg"],
        ["nakamura.jpg", "strawberry.jpg"],
        ["sekiya.jpg", "hydrangea.jpg"],
        //["woman-white.jpg", "ananas.jpg", "woman-ananas.jpg"],
        //["woman-black.jpg", "hydrangea.jpg", "woman-hydrangea.png"],
      ]
    }
  });
</script>
</body>
</html>
